body{
    display: flex;
    align-items:center;
    justify-content: center;
    height: 100px;
    font-family: Arial; 
}
.container{
    flex-direction: column; 
    width: 500px;
    border:inset;
    padding: 10px;
    border-color: rgb(143, 143, 248);
    width: 220px;
    height: 50px;   
    background-color: rgb(143, 241, 129);
    border-radius: 10px;
}
.input{
    box-sizing: border-box;
}
